body {
    width: 70%;
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-family: Arial, sans-serif;
    margin-top: 1.5em;
    margin-bottom: 1em;
    margin-left: 0;
    text-align: left;
}

h1 {
    font-size: 32px;
}

table,
th,
td,
tr {
    border: 1px solid #070707;
}

figcaption {
    font-style: italic;
}

figure {
    float: right;
    margin: 1.5em 0.1em 1.5em 2.0em;
}